<!DOCTYPE html>
<html>
    <head>
        <title>Node login</title>
    </head>
    <body>
        <div class="container">
            <h1>Home</h1>
            <a href="/logout">Sair</a>
        </div>
    </body>
</html>