<!DOCTYPE html>
<html>

<head>
    <title>Node login</title>
</head>

<body>
    <div class="container">
        <h1>login</h1>
        <form action="/login" method="POST" onsubmit="signIn()">
            <div class="input-container">
                <label for="username">Usuário</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="input-container">
                <label for="password">Senha</label>
                <input type="text" id="password" name="password" required>
            </div>

            <button type="submit">Entrar</button>
        </form>
        <script>
            function signIn(){
            console.log("exemplo de sign")
}
        </script>
    </div>
</body>
</html>